body {
  height: 100vh;
  height: 100lvh;
}
body.light-mode {
  background: var(--box-gradient-light);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.login-container {
  background-color: hsl(var(--clr-dark), 0.65);
  padding: 2rem;
  border-radius: 40px;
}
.light-mode .login-container {
  background-color: hsl(var(--clr-dark), 0.5);
}

.login-container h1 {
  margin-bottom: 2rem;
  text-align: center;
}
.light-mode .login-container h1 {
  color: hsl(var(--clr-dark));
  font-weight: 600;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.login-container label {
  font-size: var(--fs-500);
}
.login-container input {
  border-radius: 15px;
  min-width: 350px;
  padding: 10px 10px;
}
.login-container form span {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form .login {
  width: fit-content;
  padding: 7px 40px;
  margin-top: 10px;
  border-radius: 15px;
  color: hsl(var(--clr-dark));
  font-weight: 600;
  transition: transform 0.25s linear;
}
.light-mode form .login {
  color: hsl(var(--clr-white));
  background: hsl(var(--clr-dark));
}

form .login:hover {
  transform: scale(1.1);
}
.login-container .another {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light-mode .login-container .another a {
  color: hsl(var(--clr-dark));
  font-weight: 500;
}

@media (max-width: 640px) {
  .login-container input {
    border-radius: 15px;
    min-width: 250px;
    padding: 10px 10px;
  }
}
@media (max-width: 400px) {
  .login-container {
    padding: 1rem;
    border-radius: 40px;
  }
  .login-container input {
    border-radius: 15px;
    padding: 5px 5px;
  }
}
