body {
  margin-inline: 3rem;
}

header {
  margin: 2rem 0.5rem;
}
.header--main {
  align-items: center;
  justify-content: space-between;
}
.header--main input {
  border-radius: 20px;
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-menu li {
  cursor: pointer;
  border: 2px solid transparent;
  margin-inline: 0.75rem;
  transition: all 0.45s linear;
}
.nav-menu li:hover {
  border-bottom-color: #b3aaff;
  transform: scale(1.05);
}
