body {
  margin-inline: 3rem;
}
body.light-mode {
  background: linear-gradient(
    75deg,
    hsl(262deg 96% 80%) 0%,
    hsl(265deg 94% 82%) 13%,
    hsl(267deg 91% 85%) 24%,
    hsl(269deg 87% 88%) 34%,
    hsl(272deg 82% 91%) 41%,
    hsl(272deg 78% 88%) 47%,
    hsl(273deg 75% 86%) 52%,
    hsl(273deg 73% 83%) 56%,
    hsl(274deg 71% 80%) 60%,
    hsl(274deg 73% 82%) 63%,
    hsl(274deg 75% 85%) 67%,
    hsl(274deg 78% 87%) 70%,
    hsl(274deg 81% 89%) 74%,
    hsl(274deg 85% 88%) 79%,
    hsl(274deg 88% 86%) 85%,
    hsl(274deg 90% 84%) 92%,
    hsl(274deg 91% 82%) 100%
  );
  color: hsl(var(--clr-dark));
}

header {
  margin: 2rem 0.5rem;
}

.main-nav {
  align-items: center;
  justify-content: space-between;
}

.main-nav input {
  border-radius: 20px;
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-menu li {
  cursor: pointer;
  border: 2px solid transparent;
  margin-inline: 0.75rem;
  transition: all 0.45s linear;
  text-transform: capitalize;
}
.nav-menu li:hover {
  border-bottom-color: #b3aaff;
  transform: scale(1.05);
}
.main-nav-check {
  display: none;
}

@media (max-width: 1300px) {
  header {
    margin: 1.5rem 0.35rem;
  }
  .quick {
    width: 100%;
  }
  .quick :where(input, button, a) {
    /* background-color: var(--clr-sec); */
    width: 100%;
  }
  .quick .search {
    position: absolute;
    top: 100px;
    left: 0;
    margin-inline: 4rem;
    width: 380px;
  }
  .light-mode .main-nav {
    background-color: var(--clr-sec);
  }

  .main-nav-check {
    display: block;
    position: fixed;
    top: 25px;
    right: 450px;
    visibility: hidden;
    transition: right 0.25s linear;
  }
  .main-nav-check:checked {
    right: 50px;
  }
  .main-nav-check::after {
    cursor: pointer;
    content: url("images/close-menu-logo.svg");
    width: 50px;
    height: 50px;
    visibility: visible;
  }
  .main-nav-check:checked:after {
    cursor: pointer;
    content: url("images/open-menu-logo.svg");
  }

  .main-nav:has(.main-nav-check:checked) {
    right: -500px;
  }
  .main-nav {
    position: fixed;
    top: 0;
    right: 0;
    height: fit-content;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 9999;
    background-color: #1b0c38ee;
    transition: right 0.25s linear;
    padding-inline: 3rem;
    width: 500px;
  }

  .main-nav :where(ul, .quick) {
    flex-direction: column;
  }
  .nav-menu li {
    text-align: center;
    margin-inline: 0.5rem;
    font-size: var(--fs-500);
    font-weight: 600;
  }
}

@media (max-width: 640px) {
  .main-nav {
    width: 360px;
  }
  .quick .search {
    margin-inline: 2rem;
    width: 300px;
  }
  .main-nav-check {
    top: 22px;
    right: 320px;
  }
  .main-nav-check:checked {
    right: 35px;
  }
}
@media (max-width: 400px) {
  .main-nav {
    width: 100%;
  }
  .quick .search {
    margin-inline: 0.5rem;
    width: fit-content;
  }
  .main-nav-check {
    top: 22px;
    right: 20px;
  }
  .main-nav-check:checked {
    right: 10px;
  }
}

main,
footer {
  max-width: 1400px;
  margin: auto;
}

main {
  display: grid;
  margin-top: 7rem;
  gap: 6em;
}

section {
  display: block;
  padding: 10% 5%;
  align-self: center;
  justify-self: center;
  align-items: center;
  border-radius: 40px;
  box-shadow: var(--box-shadow);
}
.light-mode section {
  background: white;
}

.about {
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.about--content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.light-mode .about--content {
  color: hsl(var(--clr-dark));
}
.light-mode .about--content button {
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
}
.about--image {
  position: relative;
}
.about--image img {
  width: 100%;
  border-radius: 20px;
}
.about--image::after {
  border-radius: 20px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 22, 65, 0.144);
}

.price {
  padding: 5%;
}
.price h1 {
  margin-bottom: 25px;
}
.price ul {
  list-style: none;
  padding: 0;
}
.light-mode .price {
  box-shadow: none;
  background: transparent;
}

.price ul li:before {
  content: "\2713";
  margin-right: 0.5em;
}
.price-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.price--card {
  padding: 6rem 3rem;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
}
.light-mode .price--card {
  background: white;
  color: hsl(var(--clr-dark));
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact form :where(input, textarea) {
  padding-inline: 1rem;
  padding-block: 10px;
  border-radius: 5px;
  outline-color: var(--clr-sec);
  color: hsl(var(--clr-dark));
  font-size: var(--fs-400);
  font-weight: var(--font-medium);
}
.light-mode .contact form :where(input, textarea) {
  border: 2px solid var(--clr-sec);
  outline-color: hsl(var(--clr-dark));
}

.contact form button {
  width: fit-content;
}
.contact .text-sec {
  color: white;
}
.light-mode .contact .text-sec {
  color: var(--clr-sec);
}

.light-mode .btn-dark {
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
}

@media (max-width: 1024px) {
  main {
    margin-top: 3rem;
  }
  .about {
    grid-template-columns: 1fr;
  }
  .price-container {
    grid-template-columns: 1fr 1fr;
  }
  .price--card {
    padding: 3rem 2rem;
    border-radius: 40px;
  }
  .contact {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  body {
    margin-inline: 2rem;
  }
  main {
    margin-top: 2rem;
  }

  .price--card {
    padding: 2rem;
    border-radius: 30px;
  }
  .price--btn button {
    display: block;
    margin: auto;
  }
}
@media (max-width: 640px) {
  body {
    margin-inline: 1rem;
  }
  .price--card {
    /* padding: 2rem; */
    border-radius: 20px;
  }
  .contact .header {
    font-size: var(--fs-600);
  }
  .contact .text {
    font-size: var(--fs-700);
  }
  .contact p {
    font-size: var(--fs-500);
  }
  .contact form :where(input, textarea) {
    padding-inline: 0.5rem;
    padding-block: 5px;
    font-size: var(--fs-300);
    font-weight: var(--font-normal);
  }
  form {
    width: 100%;
  }
  .form--email-phone {
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .price-container {
    grid-template-columns: 1fr;
  }
}

footer {
  margin-top: 10rem;
  padding: 3rem 2rem;
  border-radius: 40px 40px 0 0;
}
footer input {
  border: 1px solid hsl(var(--clr-dark));
  border-color: hsl(var(--clr-dark));
  border-radius: 20px;
}

@media (max-width: 1300px) {
  footer .links {
    gap: 2rem;
  }
}
@media (max-width: 1024px) {
  footer {
    flex-direction: column;
  }
  .footer--content {
    display: flex;
    justify-content: space-between;
  }
  .footer--content input {
    height: fit-content;
  }
  footer .links {
    gap: 1rem;
    justify-content: space-between;
    padding-inline: 10%;
  }
}
/* @media (max-width: 768px) {
} */
@media (max-width: 640px) {
  .footer--content {
    flex-direction: column;
  }
  footer {
    margin-top: 5rem;
  }
  footer .links {
    flex-direction: column;
    gap: 0.3rem;
    padding-inline: 0%;
  }
  footer .links h2 {
    font-size: var(--fs-400);
    margin-bottom: 0.5rem;
  }
  footer .links ul {
    display: flex;
    gap: 0.4rem;
  }
}

/* @media (max-width: 1300px) {
  body {
    background-color: blue;
  }
}
@media (max-width: 1024px) {
  body {
    background-color: red;
  }
}
@media (max-width: 768px) {
  body {
    background-color: green;
  }
}
@media (max-width: 640px) {
  body {
    background-color: yellow;
  }
}
@media (max-width: 400px) {
  body {
    background-color: pink;
  }
} */
